@font-face {
  font-family: clock;
  src: url("../font/Dosis-VariableFont_wght.ttf");
}

body {
  font-family: clock;
  background-color: rgb(18, 18, 18);
  color: white;
}

div {
  width: 30vw;
  height: 10vh;
  border: 5px solid white;
  border-radius: 20px;
  margin: 40vh auto;
}

.uhrzeit {
  font-size: 50px;
  padding: 10px;
  margin: 0 30px 0 0;
  text-align: center;
}
